@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline;
  background-color: #eee;
  color: #555;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app header h1 {
  font-size: 32px;
}

.app main {
  margin: 20px 0;
}

.app footer a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.app footer a:hover {
  color: #222;
}

@media (max-width: 500px) {
  .app header h1 {
    font-size: 20px;
  }

  .app main {
    margin: 12px 0;
  }

  .app footer {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  .app header h1 {
    font-size: 14px;
  }

  .app main {
    margin: 10px 0;
  }

  .app footer {
    font-size: 8px;
  }
}
